In [1]:
#Criação de Lista
linguagens = ["Python", "R", "Julia", "PHP"]

In [2]:
print(linguagens)

['Python', 'R', 'Julia', 'PHP']

In [3]:
#Lista heterogenea
mundiais = ["Brasil", 58, 62, 70, 94, 2002]

In [5]:
print(mundiais)

['Brasil', 58, 62, 70, 94, 2002]

In [6]:
# Assim como em strings, podemos também indexar Listas.
pais = mundiais[0]
tituilo01 = mundiais[1]
tituilo02 = mundiais[2]
tituilo03 = mundiais[3]
tituilo04 = mundiais[4]
tituilo05 = mundiais[5]

In [7]:
print(pais)
print(tituilo01)
print(tituilo02)
print(tituilo03)
print(tituilo04)
print(tituilo05)

Brasil
58
62
70
94
2002

**Atualização de Lista**

In [9]:
#Listas são mutáveis

mundiais[0] = "Alemanha"

In [11]:
mundiais[0]

'Alemanha'

In [12]:
mundiais

['Alemanha', 58, 62, 70, 94, 2002]

**Operações com Listas**

In [ ]:
#Delete - Podemos deletar um elemento separado ou um range através do Indice

In [15]:
del mundiais[1:]

In [16]:
print(mundiais)

['Alemanha']

In [17]:
#Adicionando elemento
mundiais.append(2014)

In [18]:
print(mundiais)

['Alemanha', 2014]

In [21]:
#Adicionando mais de um elemento
mundiais.extend([1954, 1974, 1990])

In [22]:
print(mundiais)

['Alemanha', 2014, 1954, 1974, 1990]

In [23]:
#Podemos remover um elemento especifico com a função REMOVE

mundiais.remove(1990)

In [24]:
print(mundiais)

['Alemanha', 2014, 1954, 1974]

**Listas Aninhadas**

In [25]:
mundiais = [["Brasil", 58, 62, 70, 94, 2002],["Alemanha", 1954, 1974, 1990, 2014]]

In [26]:
print(mundiais)

[['Brasil', 58, 62, 70, 94, 2002], ['Alemanha', 1954, 1974, 1990, 2014]]

In [27]:
print(mundiais[0])

['Brasil', 58, 62, 70, 94, 2002]

In [28]:
#Acessando a lista e trazendo o segundo titulo do brasil
print(mundiais[0][2])

62

**Concatenando Listas**

In [29]:
a = ["Argentina", 1986, 1978]

In [30]:
b = ["Alemanha", 1954, 1974, 1990, 2014]

In [31]:
c = ["Brasil", 58, 62, 70, 94, 2002]

In [32]:
#Concatenando

fifa = a + b + c

In [33]:
fifa

['Argentina',
 1986,
 1978,
 'Alemanha',
 1954,
 1974,
 1990,
 2014,
 'Brasil',
 58,
 62,
 70,
 94,
 2002]

In [34]:
fifa[10]

62

**Operador In**

In [35]:
#Verificando se um elemento está na lista

print('Uruguai' in fifa)

False

In [36]:
print('Brasil' in fifa)

True

In [38]:
#Imprimindo os titulos de uma equipe

equipe = 'Brasil'

if equipe in fifa:
    a = fifa.index(equipe)
    print('Indice da equipe:', a)
    print(equipe)
    print(fifa[a + 1 :])
else:
    print(equipe + 'não possui titulos ou não está na lista')

Indice da equipe: 8
Brasil
[58, 62, 70, 94, 2002]

**Funções Built-In**

In [39]:
#Retorna o tamanho da lista
len(fifa)

14

In [40]:
#Vamos maximo da lista -Não funciona com Listas heterogeneas
max(fifa)

TypeError: '>' not supported between instances of 'int' and 'str'

In [41]:
numeros = [34,65,32,23,54,98,12]
palavras = ['Macaco', 'Zebra', 'Cachorro', 'Gato'] #Alfabetica

In [42]:
print(max(palavras))
print(max(numeros))

Zebra
98

In [43]:
#Valor Minimo da Lista
print(min(palavras))
print(min(numeros))

Cachorro
12

In [62]:
#Reverte a lista POSICIONALMENTE
numeros = [10,2,8,4,5,6,7]
numeros.reverse()
numeros

[7, 6, 5, 4, 8, 2, 10]

In [63]:
#Ordena a Lista em ORDEM CRESCENTE
numeros.sort()
numeros

[2, 4, 5, 6, 7, 8, 10]

In [67]:
#Adicionando um valor repetido

palavras.append('Macaco')

#Contando o numero de ocorrencias

palavras.count("Macaco")

print(palavras)

['Macaco', 'Zebra', 'Cachorro', 'Gato', 'Macaco', 'Macaco', 'Macaco', 'Macaco']

In [68]:
#Criando uma lista vazia
a = []

In [69]:
print(a)

[]

In [70]:
type(a)

list

In [71]:
#POP - Retira o ultimo objeto da Lista, mas tem como retornar o próprio objeto. É POSICIONAL

In [72]:
lista = ['B', 'C', 'D', 'E', 'A']

print(lista)

['B', 'C', 'D', 'E', 'A']

In [73]:
print(lista.pop())

A

In [74]:
lista = ['Estatistica', 'SQL', 'ETL', 'Big Data', 'Machine Learning']

print(lista)

['Estatistica', 'SQL', 'ETL', 'Big Data', 'Machine Learning']

In [75]:
print(lista.pop())

Machine Learning

In [76]:
print(lista)

['Estatistica', 'SQL', 'ETL', 'Big Data']

In [77]:
#Podemos também INDEXAR o objeto, iniciando de 0

print("Retirando o objeto ", lista.pop(1))

Retirando o objeto  SQL

In [78]:
print(lista)

['Estatistica', 'ETL', 'Big Data']

In [79]:
print("Quero retirar o objeto ETL. Retirado: ", lista.pop(1))

Quero retirar o objeto ETL. Retirado:  ETL

**Os sets são conjuntos únicos. Semelhante a um SELECT DISTINCT, e são muito utilizados em análise de Dados**

In [80]:
conjunto = set()

In [81]:
conjunto.add('Java')
conjunto.add('R')
conjunto.add('Python')

In [82]:
print(conjunto)

{'Java', 'R', 'Python'}

In [83]:
#Tentando adicionar um elemento repetido
conjunto.add('Java')

In [84]:
#Imprimindo novamente

print(conjunto)

{'Java', 'R', 'Python'}

In [85]:
#Sets nao suportam indexacao
conjunto[1]

TypeError: 'set' object is not subscriptable

In [86]:
engenheiros = set(['João', 'Jane', 'Clara', 'Celia'])
programadores = set(['Clara', 'Sam', 'Susan', 'Celia'])
gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])

In [87]:
engenheiros

{'Celia', 'Clara', 'Jane', 'João'}

In [88]:
#Uniao

funcionarios = engenheiros | programadores | gerentes

funcionarios

{'Celia', 'Clara', 'Jane', 'João', 'Sam', 'Susan', 'Zack'}

In [89]:
#Interseção

gerencia_de_engenharia = engenheiros & gerentes

gerencia_de_engenharia

{'Clara', 'Jane'}

In [90]:
#Diferença

gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])
engenheiros = set(['joao', 'Jane', 'Clara', 'Celia'])

a = gerentes - engenheiros

a

{'Susan', 'Zack'}

In [91]:
gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])
programadores = set(['Clara', 'Sam', 'Susan', 'Celia'])

b = gerentes - programadores

b

{'Jane', 'Zack'}