### Eixos

In [1]:
import numpy as np
import pandas as pd

In [4]:
file="C:\\projetos\\drinks.csv"
drinks = pd.read_csv(file)
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [5]:
drinks.head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa
5,Antigua & Barbuda,102,128,45,4.9,86.295,North America
6,Argentina,193,25,221,8.3,43.085.000,South America
7,Armenia,21,179,11,3.8,2.925.000,Europe
8,Australia,261,72,212,10.4,24.013.000,Oceania
9,Austria,279,75,191,9.7,8.725.111,Europe
10,Azerbaijan,21,46,5,1.3,9.654.900,Europe
11,Bahamas,122,176,51,6.3,368.390,North America
12,Bahrain,42,63,7,2.0,1.359.800,Asia
13,Bangladesh,0,0,0,0.0,159.145.000,Asia
14,Barbados,143,173,36,6.3,285.000,North America
15,Belarus,142,373,42,14.4,9.485.300,Europe
16,Belgium,295,84,212,10.5,11.250.659,Europe
17,Belize,263,114,8,6.8,368.310,North America
18,Benin,34,4,13,1.1,10.315.244,Africa
19,Bhutan,23,0,0,0.4,765.650,Asia

In [6]:
#Apagando uma coluna temporariamente

drinks.drop('continent', axis=1).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population
0,Afghanistan,0,0,0,0.0,34.660.000
1,Albania,89,132,54,4.9,2.876.000
2,Algeria,25,0,14,0.7,40.061.000
3,Andorra,245,138,312,12.4,77.281.000
4,Angola,217,57,45,5.9,28.081.000

In [8]:
#Apagando uma linha temporariamente

drinks.drop(2, axis=0).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa
5,Antigua & Barbuda,102,128,45,4.9,86.295,North America

Quando **refenciamos linhas e colunas** com o parâmetro axis:

    axis 0 = linhas
    axis 1 = colunas

In [9]:
#Calcule a média de cada coluna numérica
drinks.mean()

C:\Users\Josi\AppData\Local\Temp\ipykernel_15816\441384587.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  drinks.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [10]:
#Calculando a média para cada linha
drinks.mean(axis=1).head()

C:\Users\Josi\AppData\Local\Temp\ipykernel_15816\3152430867.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  drinks.mean(axis=1).head()

0      0.000
1     69.975
2      9.925
3    176.850
4     81.225
dtype: float64

In [11]:
#'columns' é um alias para axis 1
drinks.mean(axis='columns').head()

C:\Users\Josi\AppData\Local\Temp\ipykernel_15816\148667573.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  drinks.mean(axis='columns').head()

0      0.000
1     69.975
2      9.925
3    176.850
4     81.225
dtype: float64

In [14]:
file="c:\\projetos\\eixos.csv"
eixos = pd.read_csv(file)
eixos.columns

Index(['A', 'B', 'C'], dtype='object')

### Trabalhando com as linhas - axis = 0

#### O comportamento padrão da função mean() é o eixo 0 - axis = 0

In [15]:
eixos.mean()

A    10.0
B     5.0
C    10.0
dtype: float64

In [16]:
eixos.mean(axis = 0)

A    10.0
B     5.0
C    10.0
dtype: float64

In [17]:
eixos.sum(axis = 0)

A    30
B    15
C    30
dtype: int64

### Trabalhando com as colunas

In [18]:
eixos.mean(axis = 1)

0     6.666667
1     8.333333
2    10.000000
dtype: float64

In [19]:
eixos.sum(axis = 1)

0    20
1    25
2    30
dtype: int64

In [20]:
eixos.head()

    A  B   C
0  10  5   5
1  10  5  10
2  10  5  15

In [22]:
A = 'RATO'
A.replace('R', 'S')

'SATO'

In [23]:
#Alterando o tipo em uma série existente

#NAO CONSEGUIMOS CONVERTER DIREITO populacao_int = drinks['pooulation'] = int(drinks.population.str.replace('.',''))

populacao_int = drinks['population'] = drinks.population.str.replace('.','')
populacao_int.head

C:\Users\Josi\AppData\Local\Temp\ipykernel_15816\2902758726.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  populacao_int = drinks['population'] = drinks.population.str.replace('.','')

<bound method NDFrame.head of 0      34660000
1       2876000
2      40061000
3      77281000
4      28081000
         ...
188    30620404
189    93448000
190    27058000
191    15473905
192    13061239
Name: population, Length: 193, dtype: object>

In [24]:
inteiros = []

for item in drinks.population:
    a = item.replace('.','')
    b = int(a)
    inteiros.append(b)

In [25]:
inteiros[3]

77281000

In [26]:
type(inteiros[3])

int

In [27]:
drinks["pop_total"] = pd.Series(inteiros)

In [29]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,pop_total
0,Afghanistan,0,0,0,0.0,34660000,Asia,34660000
1,Albania,89,132,54,4.9,2876000,Europe,2876000
2,Algeria,25,0,14,0.7,40061000,Africa,40061000
3,Andorra,245,138,312,12.4,77281000,Europe,77281000
4,Angola,217,57,45,5.9,28081000,Africa,28081000

In [30]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
pop_total                         int64
dtype: object