### Metodos de Strings

In [1]:
import numpy as np
import pandas as pd

In [5]:
arquivo = "C:\\projetos\\sanduiches.txt"
vendas = pd.read_table(arquivo)
vendas.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [6]:
#Como utilizamos um metodo de string normalmente?

'data science'.upper()

'DATA SCIENCE'

### Os métodos de strings no Pandas são acessados via .str

In [7]:
vendas.item_name.str.upper().head()

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

***Vamos procurar algum sanduíche que contenha Frango?***

***Para realizar essa tarefa, criaremos uma série booleana(lembra?) e aplicaremos ao Dataframe!***

In [8]:
vendas.item_name.str.contains('Chicken').head()

0    False
1    False
2    False
3    False
4     True
Name: item_name, dtype: bool

In [9]:
#Aplicando a série ao dataframe de forma direta
vendas[vendas.item_name.str.contains('Chicken')].head()

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25

***Vamos retirar os colchetes da lista de ingredientes***

In [10]:
vendas.choice_description.str.replace('[', '').str.replace(']', '').head(10)

C:\Users\Josi\AppData\Local\Temp\ipykernel_15472\3317019497.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  vendas.choice_description.str.replace('[', '').str.replace(']', '').head(10)

0                                                  NaN
1                                           Clementine
2                                                Apple
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5    Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                  NaN
7    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8    Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9    Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
Name: choice_description, dtype: object