### Modificando tipos de series no Pandas

In [4]:
import numpy as np
import pandas as pd

In [5]:
file = "C:\\projetos\\drinks.csv"
drinks = pd.read_csv(file)
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

### Verificando os tipos do Dataset

In [6]:
#Utilizando o dtypes
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [7]:
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa
5,Antigua & Barbuda,102,128,45,4.9,86.295,North America
6,Argentina,193,25,221,8.3,43.085.000,South America
7,Armenia,21,179,11,3.8,2.925.000,Europe
8,Australia,261,72,212,10.4,24.013.000,Oceania
9,Austria,279,75,191,9.7,8.725.111,Europe

In [9]:
#Modificando o tipo em uma s√©rie existente com ASTYPE()

drinks['beer_servings'] = drinks.beer_servings.astype(float)

In [10]:
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0.0,0,0,0.0,34.660.000,Asia
1,Albania,89.0,132,54,4.9,2.876.000,Europe
2,Algeria,25.0,0,14,0.7,40.061.000,Africa
3,Andorra,245.0,138,312,12.4,77.281.000,Europe
4,Angola,217.0,57,45,5.9,28.081.000,Africa
5,Antigua & Barbuda,102.0,128,45,4.9,86.295,North America
6,Argentina,193.0,25,221,8.3,43.085.000,South America
7,Armenia,21.0,179,11,3.8,2.925.000,Europe
8,Australia,261.0,72,212,10.4,24.013.000,Oceania
9,Austria,279.0,75,191,9.7,8.725.111,Europe

In [8]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [9]:
#Alternativamente, podemos modificar o tipo enquanto lemos uma s√©rie

drinks = pd.read_csv(file, dtype={'spirit_servings':float})
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                 float64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

### Lendo outro Dataset

In [12]:
arquivo = "C:\\projetos\\sanduiches.txt"
vendas = pd.read_table(arquivo)
vendas.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [13]:
#Observe a coluna item_price

vendas.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### O pre√ßo do sanduiche √© uma string e est√° com caracter $

***Como podemos converter em float e trazer a media com uma linha de c√≥digo? Com astype!***

In [14]:
#Convertendo uma string em um float e trazendo a m√©dia

vendas.item_price.str.replace('$', '').astype(float).mean()

C:\Users\Josi\AppData\Local\Temp\ipykernel_920\3225366308.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  vendas.item_price.str.replace('$', '').astype(float).mean()

7.464335785374397

### Mais um pouco sobre booleanos

In [15]:
#Ja aprendemos a utilizar o contains, certo?

vendas.item_name.str.contains('Chicken').head(10)

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7    False
8    False
9    False
Name: item_name, dtype: bool

In [16]:
#Vamos converter uma s√©rie boolean em integer (False = 0, True = 1)

vendas.item_name.str.contains('Chicken').astype(int).head(10)

0    0
1    0
2    0
3    0
4    1
5    1
6    0
7    0
8    0
9    0
Name: item_name, dtype: int32

In [18]:
#Podemos fazer o procedimento com uma variavel?

vendas_int = vendas.item_name.str.contains('Chicken').astype(int)

vendas_int.head(20)

0     0
1     0
2     0
3     0
4     1
5     1
6     0
7     0
8     0
9     0
10    0
11    1
12    1
13    1
14    0
15    0
16    1
17    1
18    0
19    1
Name: item_name, dtype: int32

### E afinal, quantos sandu√≠ches contem Tomato?

In [19]:
vendas.item_name.str.contains('Tomato').astype(int).sum()

111

In [22]:
#Como √© trabalhada a programa√ß√£o acima?
# Passo 01 - vendas.item_name.str.contains('Tomato').astype(int) TRAZ UMA S√âRIE BOOL CONVERTIDA EM INT
# Passo 02 - Somente aplicamos o SUM() na s√©rie inteira, que somar√° as ocorrencias verdadeiras, ou seja, 1

passo01 = vendas.item_name.str.contains('Tomato').astype(int)
passo02 = passo01.sum()
passo02

111

### Ser√° que servem Coca-Cola nessa lanchonete?

In [23]:
vendas.item_name.str.contains('Coke').astype(int).sum()

0

### Temos que verificar a coluna choice_description

In [28]:
vendas.choice_description.str.contains('Coke').astype(int).sum()

ValueError: cannot convert float NaN to integer