### Selecionando partes do Dataframe

In [1]:
import numpy as np
import pandas as pd

In [2]:
file="C:\\projetos\\ufo.csv"
ufo = pd.read_csv(file)
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

### Método Loc

O Método loc é utilizado para selecionar linhas e colunas por sua label. Nós podemos passar os seguintes parâmetros:

 - Somente uma label
 - Uma lista de labels
 - Um slice de labels
 - Uma série booleana
 - Uma coluna (todas as labels)

In [3]:
# Trazendo a linha 0 e todas as colunas

ufo.loc[0, :]

City                       Ithaca
Colors Reported               NaN
Shape Reported           TRIANGLE
State                          NY
Time               6/1/1930 22:00
Name: 0, dtype: object

In [4]:
# Linhas 0,1 e 2 e todas as colunas

ufo.loc[[0,1,2], :]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [5]:
#Intervalo INCLUSIVO entre 0 e 2 e todas as colunas

ufo.loc[0:2, :]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [6]:
# A omissão do parâmetro referente a colunas, traz todas as colunas por padrão. INCLUSIVO

ufo.loc[0:2]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [7]:
# Linhas 0 a 2, colunas City. INCLUSIVO

ufo.loc[0:2, 'City']

0         Ithaca
1    Willingboro
2        Holyoke
Name: City, dtype: object

In [9]:
# Linhas 0 a 2, colunas City e State

ufo.loc[0:2, ['City', 'State']]

          City State
0       Ithaca    NY
1  Willingboro    NJ
2      Holyoke    CO

In [10]:
# Podemos passar uma lista de labels de colunas

ufo[['City','State']].head(5)

                   City State
0                Ithaca    NY
1           Willingboro    NJ
2               Holyoke    CO
3               Abilene    KS
4  New York Worlds Fair    NY

In [11]:
# Podemos também passar um intervalo de colunas. Nesse exemplo, das colunas City, até State

ufo.loc[0:2, 'City':'State']

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

In [12]:
# Trazendo a coluna State, nas linhas em que a cidade seja Oakland
ufo.loc[ufo.City=='Oakland', 'State']

1694     CA
2144     CA
4686     MD
7293     CA
8488     CA
8768     CA
10816    OR
10948    CA
11045    CA
12322    CA
12941    CA
16803    MD
17322    CA
Name: State, dtype: object

In [13]:
# Podemos chegar ao mesmo resultado utilizando dot notation, como visto anteriormente, porém a utilização do Loc é preferida
# por questões de performance e boa prática

ufo[ufo.City=='Oakland'].State

1694     CA
2144     CA
4686     MD
7293     CA
8488     CA
8768     CA
10816    OR
10948    CA
11045    CA
12322    CA
12941    CA
16803    MD
17322    CA
Name: State, dtype: object

### Vamos testar realmente as labels quando nossas linhas não tem índices inteiro

In [15]:
ufo_labels = ufo.set_index(['State'])

In [16]:
ufo_labels.head()

                       City Colors Reported Shape Reported             Time
State
NY                   Ithaca             NaN       TRIANGLE   6/1/1930 22:00
NJ              Willingboro             NaN          OTHER  6/30/1930 20:00
CO                  Holyoke             NaN           OVAL  2/15/1931 14:00
KS                  Abilene             NaN           DISK   6/1/1931 13:00
NY     New York Worlds Fair             NaN          LIGHT  4/18/1933 19:00

In [17]:
ufo_labels.loc['NY', 'Time'].head(10)

State
NY     6/1/1930 22:00
NY    4/18/1933 19:00
NY      1/8/1946 2:00
NY    2/20/1947 22:15
NY    7/14/1947 10:30
NY    8/12/1947 22:00
NY      8/1/1948 2:00
NY      1/2/1950 0:00
NY     6/30/1951 7:00
NY    2/10/1952 21:00
Name: Time, dtype: object

In [18]:
# Tentando realizar o filtro com Loc e índices numéricos

ufo_labels.loc[0:10, 'Time']

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

### Método iloc

O método iloc também é utilizado para selecionar linhas e colunas, porém, diferente do loc onde passamos um inteiro. Iloc vem de indice location:

 - Um inteiro simples
 - Uma lista de inteiros
 - Um slice de inteiros
 - Uma coluna (igual a lista de todos os inteiros)

In [19]:
#Linhas na posição 0 e 1, colunas na posição 0 e 3

ufo.iloc[[0, 1], [0, 3]]

          City State
0       Ithaca    NY
1  Willingboro    NJ

In [20]:
# Linhas: Intervalo de 0 e 2 (exclusivo). Colunas: Intervalo de 0 a 4 (exclusivo)

ufo.iloc[0:2, 0:4]

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ

In [21]:
# Linhas de 0 a 4, exclusive e todas as colunas

ufo.iloc[0:4, :]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3      Abilene             NaN           DISK    KS   6/1/1931 13:00

In [22]:
# Podemos chegar ao mesmo resultado com a notação de bracktes, mas prefira a notação de iloc por ser mais explícito

ufo[0:4]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3      Abilene             NaN           DISK    KS   6/1/1931 13:00

### Método ix

**Regras para utilização de números com ix:**

 - Se o índice for uma string, números serão tratados com posições, e os slices são exclusivos
 - Se o índice for um inteiro, numeros serão tratados como labels, estão os slices são inclusivos

In [23]:
drinks = pd.read_csv('c:\\projetos\\drinks.csv', index_col='country')
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
country,,,,,,
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

In [25]:
# Label: Albania - Coluna: 0

drinks.ix['Albania', 0]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [26]:
drinks.ix[0:3, 'beer_servings']

AttributeError: 'DataFrame' object has no attribute 'ix'